/* Container jo poori width cover karega */
.skill-containers {
    background-color: #000000; /* Deep Black */
    font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 50px;
}

.skill-content {
    max-width: 1275px;
    margin: auto;
}

/* Chhota red text upar wala */
.skill-subtitle {
    color: #f9004d; /* Pinkish Red shade */
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

/* Main Heading */
.skill-titles {
    color: #ffffff;
    font-size: 49px; /* Bada heading size */
    font-weight: 800;
    line-height: 1.2; /* Line height tight rakhne ke liye */
    margin: 0;
    letter-spacing: -1px; /* Modern look ke liye */
}

/* Responsive adjustment mobile ke liye */
@media (max-width: 768px) {
    .skill-titles {
        font-size: 36px;
        font-family: Rajdhani;
    }
    .skill-containers {
        padding: 60px 20px;
    }
}