.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 110px;
  font-family: 'Inter', sans-serif; /* Use a modern sans-serif font */
}

.portfolio-container {
  max-width: 800px;
}

.portfolio-subtitle {
  color: #e60026; /* Vibrant red */
  font-size: 17px;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.portfolio-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
}

.portfolio-description {
  color: #a0a0a0; /* Muted gray text */
  font-size: 16px;
  line-height: 1.6;
  width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .portfolio-title {
    font-size: 32px;
  }
  
  .portfolio-description {
    font-size: 16px;
  }
}