.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    max-width: 1300px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

.hero-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.hero-subtitle {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-description {
    font-size: 18px;
    font-family: sans-serif;
    color: #9f9f9f;
    margin-top: 27px;
}
