.bg-image {
    background-image: url(../../../../assets/banner-background-one.jpg);
    background-repeat: no-repeat;
    background-position: calc(44%);
}

.home-hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 44px;
    overflow: hidden;
     flex-wrap: wrap;
     max-width: 1550px;
     margin: auto;
}

.home-hero-content {
    margin-left: 80px;
}

.home-hero-description {
    margin: 24px 0;
    font-size: 18px;
    line-height: 1.6;
    max-width: 620px;
    font-family: Rubik;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 50px;
    animation: heroDescription 1.3s ease forwards;
}

@keyframes heroDescription {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-hero-greeting {
    font-size: 28px;
    font-weight: 700;
    font-family: Rajdhani;
    margin-bottom: 10px;
    animation: heroGreeting 1.5s ease forwards;
}

@keyframes heroGreeting {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-hero-title {
    font-size: 54px;
    font-weight: 700;
    font-family: Rajdhani;
    animation: heroTitle 1s ease forwards;
}

@keyframes heroTitle {
    0% {
        opacity: 0;
        transform:  translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-hero-btn {
    background-color: #FF014F;
    color: #fff;
    padding: 17px 33px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: heroButton 1.7s ease forwards;
}

@keyframes heroButton {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-hero-btn-span {
 font-family: Rubik;
    font-weight: 400;
}

.home-hero-btn-span:hover {
    transform: translateX(10px);
}

.home-hero-btn .arrow {
    display: inline-block;
    transition: transform 0.3s ease; /* smooth transition */
}

/* On hover, move icon left by 5px */
.home-hero-btn:hover .arrow {
    transform: translateX(-120px);
}

.home-hero-image-wrapper {
    position: relative; 
     position: relative;
    z-index: 0;
    animation: heroImage 1s ease-in forwards;
}

@keyframes heroImage {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}


.home-hero-bg-text {
    position: absolute;
    top: 33%;
    left: 37%;
    transform: translate(-50%, -50%);
    
    font-size: 90px;
    font-weight: 800;
    color: #fff; /* halka transparent */
    
    z-index: -1; /* text peeche */
    white-space: nowrap;
    pointer-events: none;
   animation: floatText 1s ease-in-out infinite alternate;
}
@keyframes floatText {
    0% {
        transform: translate(-50%, -50%) translateY(-5px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(5px);
    }
}

.home-hero-bg-text-bottom {
    position: absolute;
    top: 90%;
    left: 37%;
    transform: translate(-50%, -50%);
    
    font-size: 90px;
    font-weight: 800;
    color: transparent; /* fill transparent */
    
    -webkit-text-stroke: 1px #fff; /* stroke color and width */
    text-stroke: 2px #fff; /* fallback for some browsers */
    
    white-space: nowrap;
    pointer-events: none;

    animation: floatText 1s ease-in-out infinite alternate; /* optional float */
}

