@import "tailwindcss";

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Bold.woff') format('woff');
  font-weight: 700;
}

html,body {
  width: 100%;
  height: 100%;
    background: black;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif !important;
}